.demo {
  border: solid black ;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.title{
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

.span{
  background-color: #8dcaff;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

.bunnyImg{
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.bunny {
  display: flex;
  justify-content: center;
  border: solid black;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between
}

.navLinks{
  display: flex;
  align-content: center;
}


